/* .cover__box-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

.cover__box-title {
  padding: 21% 0;
}

@media screen and (max-width: 1279px) {
  .cover__box-title {
    padding: 19.5% 0;
  }
}

@media screen and (max-width: 1023px) {
  .cover__box-title {
    padding: 15.5% 0;
  }
}

@media screen and (max-width: 539px) {
  .cover__box-title {
    padding: 10.5% 0;
  }
}

/* На мой взгляд, решение регулировать размер box-link по высоте через padding-bottom (62.5%) более точное и, если хотите, красивое, к тому же писать меньше кода. Как видите появились три дополнительных медиа запроса, да и в связанных элементах появился .дополнительный код.
 Что касается опасений по поводу динамичности контента, то в данном случае речь идет о заголовке и подзаголовке, которые обычно редко изменяются по объему. К тому же в предыдущем спринте отдельные заголовки мы тоже позиционировали абсолютно. */
